<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite">
    <test name="Selenium1">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.bridgelabz.FacebookTest">
                <methods>
                    <include name="homePage"/>
                    <include name="registrationPage"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Selenium">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.bridgelabz.FacebookTest">
                <methods>
                    <include name="homePage"/>
                    <include name="registrationPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>